<ion-view view-title="Home" class="home-page">
    <!-- the views will be rendered in this region -->
    <ion-side-menus>

      <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
          <h2>Main Menu</h2>
        </header>
        <ion-content class="has-header">
          <ion-list>
            <ion-item menu-close href="#/home">Home</ion-item>
            <ion-item menu-close href="#/search">Find Deals</ion-item>
            <ion-item menu-close href="#/user/history">Your Deals</ion-item>
            <ion-item menu-close href="#/user/favorites">Your Favorites</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>

        <ion-nav-bar class="bar-stable">
          <ion-nav-buttons >
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <button side="right" class="button" ng-click="logOut()">Log Out</button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-tabs class="tabs-icon-top tabs-color-active-positive">


        <!-- Discover Tab -->
          <ion-tab title="Nearby" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/home/nearby">
            <ion-nav-view name="tabs-nearby"></ion-nav-view>
          </ion-tab>


        <!-- Favorites Tab -->
          <ion-tab title="Featured" icon-off="ion-ios-star" icon-on="ion-ios-star" href="#/home/featured">
            <ion-nav-view name="tabs-featured"></ion-nav-view>
          </ion-tab>


        </ion-tabs>
      </ion-side-menu-content>
    </ion-side-menus>
</ion-view>