/* Empty. Add your own CSS if you like */

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */

.slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  -webkit-transform: translateZ(0);
transform: translateZ(0);
}

.slider-slide, .slider-slides {
  width: 100%;
}

.slider-slide {
  color: #000;
  background-color: #ddd;
  height: 100vh;
    -webkit-transform: translateZ(0);
transform: translateZ(0);
}

.button.ng-hide{
  display:none;
}

.home-view-card {
  height: 90%;
    -webkit-transform: translateZ(0);
transform: translateZ(0);
}

.card img {
  width: 100%;
}
